.NavBar {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 0 0 20px;
    color: white;
}
  
.NavBar-link {
    margin: 0 10px;
    color: white;
}

.NavBar-link:hover {
    text-decoration: none;
    color: grey;
}

@media only screen and (max-width: 1000px) {
    .mr-auto {
        text-align: left;
    }
}