body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* div, section {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
} */

h5 {
  margin: 5px 5px;
  color: blue;
}


div.border {
  padding: 20px 40px;
  margin: 20px 50px;
}


/* .table .table-hover {
  margin: 0px;
  padding: 0px;
  border: 1px purple;
} */




/* button:disabled .form-submission {
  background-color: light-grey;
}

button .form-submission {
  background-color: blue;
} */