body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h5 {
  margin: 5px 5px;
  color: blue;
}

div.border {
  padding: 20px 40px;
  margin: 20px 50px;
}

span.title {
  color: maroon;
  font-weight: 700;
  font-size: 22px;
}

div.FinancialStatement {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

span.statement {
  color: red;
  font-size: 24px;
  font-weight: 500;
}

/* td.left {
  float: left;
} */

.right {
  float: right;
}

.cash-flow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  /* padding: 20px 20px; */
}

.overview {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.financial-statement {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.form {
  text-align: center;
}
