.overview {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 200px;
	margin-top: 100px;
}

.financial-statement {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}

.homepage {
	margin: 200px 100px;
}

.cash-flow {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
	gap: 50px;
}
